<!DOCTYPE html>
<html>
  <head>
    <title><%= AlgunaCosa %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= AlgunaCosa %></h1>
    <p>Welcome to <%= AlgunaCosa %></p>
    <form id="algoForm" action="algo/create" method="POST">

    </form>
  </body>
</html>
